<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <title>Home Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

    <div class="container">
        <!-- child pages could replace the header with other css style -->

        {% block main-header %}

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" style="margin-right: 15px">Welcome! {{ profile.first_name }} {{ profile.last_name }}</span>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'profile' user_id=user.id %}">Profile</a>
                </li>
                <li>
                    <a href="{% url 'followee' %}">Follower Stream</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li style="float: right;">
                    <a></a>
                </li>
            </ul>

        </div>
        {% endblock %}
    </div>
</nav>


<div id="wrapper">
    <div id="layout-static">
        <div class="static-content-wrapper">
            <div class="static-content">
                {% block main-content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>



</body>

</html>
